div.t_p{
    color: #3f3f3f;
    font-size: 16px;
    .termsprivacey{
            background-color: transparent;
            color: #28a745;
            border: 0px;
    }
    .tp_checkbox{
        
    }
}